.dere{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: auto;
}
#akar{
    width: 40px;
    height: 30px;
    background-color: red;
    margin: auto;
}
.cay{
    width: 99px;
    height: 98px;
    background-color: black;
    margin: auto;
} 
.son1{
    width: 99px;
    height: 98px;
    background-color: rgb(15, 202, 90);
    margin: auto;
}  
